@model AdminPortal.Models.AdminAppsViewModels.NewEmployeeViewModel
@{
    ViewBag.Title = "NewEmployee";
}
<style>
    .bootstrap-datetimepicker-widget.dropdown-menu{
        z-index:2000;
    }
</style>
<h2>Add New Employee</h2>

<div class="container">

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">

            <div class="panel panel-default">
                <div class="panel-body">
                    @using (Html.BeginForm())
            {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label>
                                Employee Name
                            </label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "input-sm form-control" })
                        </div>
                        <div class="form-group">
                            <label>
                                Employee Department
                            </label>
                            @Html.EnumDropDownListFor(m => m.Department, new { @class = "input-sm form-control" })
                        </div>
                        <div class="form-group">
                            <label>
                                Date Joined
                            </label>
                            @Html.TextBoxFor(m => m.DateJoined, new { @class = "input-sm form-control" })
                        </div>

                        <div class="form-group">
                            <label>
                                Contract End Date
                            </label>
                            @Html.TextBoxFor(m => m.ContractEndDate, new { @class = "input-sm form-control" })
                        </div>

                        <div class="form-group">
                            <label>
                                Date of Birth
                            </label>
                            @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "input-sm form-control" })
                        </div>

                        <div class="form-group">
                            <label>
                                Employee Salary
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">£</span>
                                @Html.TextBoxFor(m => m.CurrentSalary, new { @class = "input-sm form-control" })
                                <span class="input-group-addon">Yearly</span>
                            </div>
                        </div>

                        <input class="btn btn-primary" type="submit" value="Add New Employee" />
                    }
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#DateJoined').datetimepicker({ format: 'DD/MM/YYYY' });
        $('#ContractEndDate').datetimepicker({ format: 'DD/MM/YYYY' });
        $('#DateOfBirth').datetimepicker({ format: 'DD/MM/YYYY' });

        $("#DateJoined").on("dp.change", function (e) {
            if ($('#ContractEndDate').val() < $('#DateJoined').val()) {
                $("#ContractEndDate").val($("#DateJoined").val())
            }
        });
    });
</script>