@model AdminPortal.Models.AdminAppsViewModels.NewEmployeeViewModel
@{
    ViewBag.Title = "NewEmployee";
}

<h2>Add New Employee</h2>

<div class="container">

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    }
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">

            <div class="panel panel-default">
                <div class="panel-body">
                    @using (Html.BeginForm())
            {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label>
                                Employee Name
                            </label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "input-sm form-control" })
                        </div>
                        <div class="form-group">
                            <label>
                                Employee Department
                            </label>
                            @Html.EnumDropDownListFor(m => m.Department, new { @class = "input-sm form-control" })
                        </div>
                        <div class="form-group">
                            <label>
                                Date Joined
                            </label>
                            @Html.TextBoxFor(m => m.DateJoined, "{0:dd/MM/yyyy}", new { @class = "input-sm form-control" })
                        </div>

                        <input class="btn btn-primary" type="submit" value="Add New Employee" />
                    }
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#DateJoined').datetimepicker();
    });
</script>