
@{
    ViewBag.Title = "Admin Site";
}

<style>
    .btn-primary {
        width: 100%;
    }
</style>
<h2>Admin Site</h2>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="well well-sm">
                Welcome to the admin site. This application is designed to add new employees and to add eligible employees into the bonus scheme. Choose available applications from below
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            @if (Model.Admin)
            {
                <a class="btn btn-primary" href="@Url.Action("Register", "Auth")"><span class="glyphicon glyphicon-user"></span> Register new user</a>
            }
        </div>
        <div class="col-xs-12">
            <a class="btn btn-primary" href="@Url.Action("NewEmployee", "AdminApps")"><span class="glyphicon glyphicon-plus-sign"></span> Add new employee</a>
        </div>
        <div class="col-xs-12">
            <a class="btn btn-primary" href="@Url.Action("AddEmployeeToYearlyFigure", "AdminApps")"><span class="glyphicon glyphicon-blackboard"></span> Add new entry for Yearly Figure</a>
        </div>
        <div class="col-xs-12">
            <a class="btn btn-primary" href="@Url.Action("YearlyWageExpenditure", "AdminApps")"><span class="glyphicon glyphicon-list"></span> View Yearly Wage Expenditure Report</a>
        </div>
        <div class="col-xs-12">
            <a class="btn btn-primary" href="@Url.Action("YearlyWageExpenditureSPA", "AdminApps")"><span class="glyphicon glyphicon-list"></span> View Yearly Wage Expenditure Report - SPA</a>
        </div>

    </div>
</div>
